.toolbar-spacer {
  flex: 1 1 auto;
}

a.title {
  color: white;
}

.card-welcome-avatar {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}