<div class="mt-2 mb-2">
<h1>Settings</h1>
<hr>
</div>

<!-- <mat-card class="d-flex mb-2">
    <form class="ns-settings-form">
        <mat-form-field class="w-100 mb-2">
          <mat-label>Detail Source:</mat-label>
          <input matInput [formControl]="detailSourceFormControl" [errorStateMatcher]="matcher">
          <mat-error *ngIf="detailSourceFormControl.hasError('required')">
            Detail source <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <div class="d-flex">
          <button mat-raised-button color="primary" (click)="submitToNotion()">Generate</button>
          <mat-spinner [diameter]=25 class="m-1" *ngIf="loading"></mat-spinner>
        </div>
      </form>
</mat-card> -->